@use '../../styles/global.scss' as *;

.country-detail-error {
    padding: calc(6rem + $header-height) 0 1rem;
    text-align: center;
    color: var(--on-background);
    font-size: 1.2rem;
}

.country-detail-container {
    padding: calc(6rem + $header-height) 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;

    .country-flag-container {
        img{
            width: 100%;
        }
    }

    .country-indo-container {
        .title {
            color: var(--on-background-title);
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .country-info{
            font-size: 1.25rem;
            line-height: 2em;
        }
    }
}