@use '../../styles/global.scss' as *;

.country-detail {
    padding: calc(6rem + $header-height) 10%;

    .country-detail-error {
        text-align: center;
        color: var(--on-background);
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .country-detail-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 2rem;
    }

    .country-flag-container {
        img{
            width: 100%;
        }
    }

    .country-info-container {
        .title {
            color: var(--on-background-title);
            font-size: 4rem;
            font-weight: bold;
        }

        .country-info{
            margin: 2rem 0 1rem;
            p {
                font-size: 1.25rem;
                line-height: 2em;
            }
        }
    }
}