@use './reset.scss' as *;

$header-height: 64px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin  flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin  flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin background-transition {
    transition: background-color linear .5s;
}

@mixin menu-transition {
    transition: background-color linear .5s, transform ease-out .5s;
}

body {
    min-width: 912px;
}

.icon {
    font-size: 1.5rem;
}