$header-height: 64px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin  flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin  flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin background-transition {
    transition: background-color linear .3s;
}

@mixin menu-transition {
    transition: background-color linear .3s, opacity linear .5s, transform ease-out .5s;
}

@mixin header-list {
    position: fixed;
    top: $header-height;
    bottom: 0;
    min-height: calc(100vh - $header-height);
    background-color: var(--primary);
    color: var(--on-primary);
    z-index: 99;
}

.icon {
    font-size: 1.5rem;
}

.loading-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--on-background);
}

.error {
    color: var(--accent);
    text-align: center;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .icon {
        font-size: 1rem;
    }
}

