.main{
    margin: 2rem;

    .loading-text {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    .country-table {
        margin-top: 2rem;
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #ccc;
        }

        td, th {
            padding: 2rem;
            text-align: left;
            vertical-align: middle;
        }

        .country-table-head {
            font-size: 1.2rem;
            color: var(--on-background-secondary);
        }
    }
}