@use '../../styles/global.scss' as *;

.main{
    padding: calc(2rem + $header-height) 2rem 2rem;
    background-color: var(--background);

    .error {
        color: var(--accent);
        text-align: center;
        font-size: 1.2em;
    }

    .loading-text {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: var(--on-background);
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@media screen and (max-width: 576px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}