@use '../../styles/global.scss' as *;

.main{
    padding: calc(2rem + $header-height) 2rem 2rem;
    background-color: var(--background);

    .loading-text {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: var(--on-background);
    }

    .country-table {
        margin-top: 2rem;
        width: 100%;

        tr {
            border-bottom: 1px solid #ccc;
        }

        td, th {
            padding: 2rem 1rem;
            text-align: left;
            vertical-align: middle;
        }

        .country-table-head {
            font-size: 1.2rem;
            color: var(--on-background-secondary);
            cursor: default;
            .thead-text {
                margin-right: .4rem;
            }
        }
    }
}