@use '../../../styles/global.scss' as *;

.menu {
    margin-right: 1rem;
    height: $header-height;
    width: $header-height;
    
    .menu-icon-container {
        width: 100%;
        height: 100%;
        @include flex-center;
        &:hover {
            background-color: var(--primary-hover);
        }
    }

    .menu-list {
        @include header-list;
        left: 0;
        bottom: 0;
        transform: translate3d(-110%, 0, 0);
        @include menu-transition;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0;
        
        &.active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        .menu-list-item{
            @include flex-start;
            padding: 20px;
            cursor: pointer;

            &:hover{
                background-color: var(--primary-container);
            }
            
            .theme-circle {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
            
            .theme-text {
                margin-left: 1rem;
                user-select: none;
            }
        }
        .active-theme .theme-circle {
            border: 1px solid var(--accent);
        }
        .purple .theme-circle{
            background-color: #b080aa;
        }
        .blue .theme-circle{
            background-color: #daeaf8;
        }
        .green .theme-circle{
            background-color: #cbe3af;
        }
        .red .theme-circle{
            background-color: #c46567;
        }
    }
}

@media screen and (max-width: 576px){
    .menu {
        width: 28px;
        margin-right: .5rem;
    }
}