@use '../../../styles/global.scss' as *;

.menu {
    margin-right: 1rem;
    height: $header-height;
    width: $header-height;
    
    .menu-icon-container {
        width: 100%;
        height: 100%;
        @include flex-center;
        &:hover {
            background-color: var(--primary-hover);
        }
    }

    .menu-list {
        position: absolute;
        top: $header-height;
        left: 0;
        height: calc(100vh - $header-height);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translate3d(-100%, 0, 0);
        @include menu-transition;
        background-color: var(--primary);
        color: var(--on-primary);
        
        &.active {
            transform: translate3d(0, 0, 0);
        }

        .menu-list-item{
            @include flex-start;
            padding: 20px;
            cursor: pointer;
            
            .theme-circle {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
            .theme-text {
                margin-left: 1rem;
                user-select: none;
            }
        }
        .active-theme .theme-circle {
            border: 1px solid var(--primary-outline);
        }
        .purple .theme-circle{
            background-color: #b080aa;
        }
        .blue .theme-circle{
            background-color: #daeaf8;
        }
        .green .theme-circle{
            background-color: #cbe3af;
        }
        .red .theme-circle{
            background-color: #c46567;
        }
    }
}