body {
    background-color: #FEFBFC !important;
}

/* header style */
.header,
.menu .menu-list  {
    background-color: #BED4E9 !important;
    color: #1D3243 !important;
}

.header .icon,
.header .header-title {
    color: #1D3243 !important;
}

.menu-icon-container:hover, 
.cart-icon-container:hover {
    background-color: #C3C7CC !important;
}

.active-theme .theme-circle {
    border: 2px solid #061D2D;
}

.search-box {
    background-color: #daeaf8 !important;
}

.search-box .searcg-box-input, .search-box .searcg-box-input::placeholder {
    color: #34495A;
}

.cart .cart-number {
    background-color: #DE3730;
}

/* main style */
.main .country-table .country-table-head {
    color: #767779 !important;
}

.main .country-table td {
    color: #292427 !important;
}

.main .country-table .add-country-btn {
    background-color: #BED4E9 !important;
    color: #1D3243 !important;
}

.main .country-table .add-country-btn:disabled {
    background-color: #E4E2E2 !important;
    color: #AAABAE !important;
}