body {
    background-color: #FEFCF7 !important;
}

.header,
.menu .menu-list  {
    background-color: #B4CF95 !important;
    color: #21360B !important;
}

.header .icon,
.header .header-title {
    color: #21360B !important;
}

.menu-icon-container:hover,
.cart-icon-container:hover {
    background-color: #A4AF93 !important;
}

.active-theme .theme-circle {
    border: 2px solid #0E2000;
}

.search-box {
    background-color: #cbe3af !important;
}

.search-box .searcg-box-input, .search-box .searcg-box-input::placeholder {
    color: #57624A;
}

.cart .cart-number {
    background-color: #FFDAD6;
}

/* main style */
.main .country-table .country-table-head {
    color: #767870 !important;
}

.main .country-table td {
    color: #1B1C19 !important;
}

.main .country-table .add-country-btn {
    background-color: #B4CF95 !important;
    color: #21360B !important;
}

.main .country-table .add-country-btn:disabled {
    background-color: #E3E3DC !important;
    color: #ABACA5 !important;
}