body {
    background-color: #FFFBFF !important;
}

/* header style */
.header,
.menu .menu-list  {
    background-color: #94618E !important;
    color: #FFFFFF !important;
}

.header .icon,
.header .header-title {
    color: #FFFFFF !important;
}

.menu-icon-container:hover,
.cart-icon-container:hover {
    background-color: #988CA3 !important;
}

.active-theme .theme-circle {
    border: 2px solid #330C28;
}

.search-box {
    background-color: #b080aa !important;
}

.search-box .searcg-box-input,
.search-box .searcg-box-input::placeholder {
    color: #F5EFF4;
}

.cart .cart-number {
    background-color: #BA1A1A;
}

/* main style */
.main .country-table .country-table-head,
.amin .country-table .sort-name-icon-up {
    color: #7E7578 !important;
}

.main .country-table td {
    color: #292427 !important;
}

.main .country-table .add-country-btn {
    background-color: #94618E !important;
    color: #ffffff !important;
}

.main .country-table .add-country-btn:disabled {
    background-color: #E8E1E2 !important;
    color: #B2A9AC !important;
}

