@use '../../styles/global.scss' as *;

.header {
    @include flex-between;
    height: $header-height;
    @include background-transition;
    background-color: var(--primary);
    color: var(--on-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .header-left {
        @include flex-around;
        height: 100%;
        .header-title {
            margin-right: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--on-primary);
        }
    }

    .header-right {
        height: 100%;
        @include flex-center;
    }
}