@use '../../styles/global.scss' as *;

.header {
    @include flex-between;
    height: $header-height;
    @include background-transition;
    background-color: var(--primary);
    color: var(--on-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header-left {
        @include flex-start;
        height: 100%;
        .header-title {
            @include flex-start;
            margin-right: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--on-primary);
        }
        .header-logo {
            height: 40px;
            margin-right: .5rem;
        }
    }

    .header-right {
        height: 100%;
        @include flex-center;
    }
}

@media screen and (max-width: 576px) {
    .header {
        .header-left {
            .header-title {
                font-size: 1.2rem;
                margin-right: .5rem;
            }
        }
    }
}