@use '../../styles/global.scss' as *;

.add-country-btn {
    border: none;
    border-radius: 5px;
    padding: .8rem 1.2rem;
    font-size: 1.2rem;
    @include background-transition;
    background-color: var(--primary);
    color: var(--on-primary);
    word-break: keep-all;

    &:disabled {
        background-color: var(--disabled-background);
        color: var(--disabled-text);
    }
}

@media screen and (max-width: 768px) {
    .add-country-btn {
        padding: .8rem;
    }
}