@use '../../../styles/global.scss' as *;

.search-box {
    @include flex-start;
    border-radius: 5px;
    padding: .5rem 1rem;
    @include background-transition;
    background-color: var(--primary-container);

    .search-icon {
        margin-right: 10px;
        font-size: 1.2rem;
    }
    
    .search-box-input {
        flex: 1;
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;
        font-size: 1rem;
        color: var(--on-primary-container);
        &::placeholder {
            color: var(--on-primary-container);  
        }
    }
}

@media screen and (max-width: 768px) {
    .search-box {
        padding: .5rem;
        .search-icon {
            font-size: 1rem;
        }
        .search-box-input {
            font-size: 1rem;
            max-width: 150px;
        }
    }
}

@media screen and (max-width: 576px){
    .search-box {
        .search-box-input {
            max-width: 100px;
        }
    }
}