@use '../../../styles/global.scss' as *;

.country-table-row {
    td {
        color: var(--on-background);
    }

    .country-flag-img {
        max-height: 50px;
    }

    .country-name {
        padding: 2rem 1rem;
    }

    .country-languages-list {

        .country-languages-item {
            margin-bottom: .8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .add-country-btn {
        border: none;
        border-radius: 5px;
        padding: .8rem 1.2rem;
        font-size: 1.2rem;
        @include background-transition;
        background-color: var(--primary);
        color: var(--on-primary);

        &:disabled {
            background-color: var(--disabled-background);
            color: var(--disabled-text);
        }
    }
}
