@use '../../../styles/global.scss' as *;

.country-table-row {
    &:hover {
        background-color: var(--surface);
    }

    td {
        position: relative;
        .row-link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .country-flag-img {
        max-height: 50px;
    }

    .country-languages-list {

        .country-languages-item {
            color: var(--on-background);
            margin-bottom: .8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
